.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #01487a 50%, #ffffff 50%); /* Gradient from blue to white */
  background-image: url('https://i.pinimg.com/564x/e6/a6/d7/e6a6d7b263753a39798574341953baf0.jpg'); 
  /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-color: #01487a;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Cover the entire container with the background image */
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(128, 0, 32); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #f5f5dc; /* Soft shadow */
}

.lInput {
  height: 40px;
  padding: 10px;
  border: 1px solid #50C878; /* Blue border */
  border-radius: 5px;
}

.lInput:focus {
  outline: none;
  border-color: rgb(128, 0, 32); /* Darker blue border color on focus */
}

.lButton {
  border: none;
  padding: 12px 24px;
  background-color: #50C878; /* Darker blue button color */
  color: #f5f5dc;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:hover {
  background-color: #008009; /* Dark blue color on hover */
}

.lButton:disabled {
  background-color: rgb(128, 0, 32); /* Light blue with opacity for disabled */
  cursor: not-allowed;
}